.wraper {
  width: 100%;
  height: auto;
  margin: 100px 0;
}

.product {
  border-bottom: 1px solid #ccc;
  display: flex;
  padding: 24px 0;
  justify-content: space-between;
  .product-right {
    display: flex;
    gap: 20px;
    .image {
      width: 164px;
      height: 164px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .info {
      width: 400px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      h5 {
        font-weight: 600;
      }
      p {
        color: #707072;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .select {
        display: flex;
        gap: 10px;
        .quantity {
          display: flex;
          align-items: center;
          gap: 10px;
          p {
            color: #707072;
            margin: 0;
          }
          select {
            color: #707072;
            width: 50px;
            height: 20px;
            margin: 0;
            padding: 0;
            border: 0;
            outline: none;
          }
        }
        .size {
          display: flex;
          align-items: center;
          gap: 10px;
          p {
            color: #707072;
            margin: 0;
          }
          select {
            color: #707072;
            width: 50px;
            height: 20px;
            margin: 0;
            padding: 0;
            border: 0;
            outline: none;
          }
        }
      }
      .remove-favorite {
        display: flex;
        gap: 20px;
        align-items: center;
        a {
          color: #707072;
        }
      }
    }
  }
  .price {
    h5 {
      font-weight: 600;
      font-size: 20px;
    }
  }
}
.summary {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  gap: 10px;
  padding: 20px 0;
  .summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
}
.total {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  font-weight: 600;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
}
.checkout {
  margin-top: 30px;
  button {
    padding: 20px 0;
  }
}
